.box {
	padding: 32px;
	display: flex;
	justify-content: space-between;
}

.link {
	color: #aaa;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 4px;
	transition: color 0.25s;
}

.link:hover {
	color: #000;
}
